Сообщение из системы <strong>{{app}}</strong>
Пользователь ID: <strong><a href="https://portal-cc-internal.wildberries.ru/CUSTOMER_CARD/{{user_id}}/CATEGORY/14/SECTION/3/ITEM/225">{{user_id}}</a></strong>
Поставик ID: <strong>{{product.supplierId}}</strong>
Товар ID: <strong>{{chrt}}</strong>
Товар Наименование: <strong><a href="https://www.wildberries.ru/catalog/{{product.cod1S}}/detail.aspx">{{product.name}}</a></strong>
Текст обращения: <strong>{{text}}</strong>
Просрочка по доставке: <strong>{{delivery_overdue}} дней </strong>
Срок доставки: <strong>{{delivery_date}}</strong>
Крайний срок доставки: <strong>{{delivery_date_end}}</strong>
